dev4qx/madeira/handlers/data/ECServicesForADC.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ECService.EC.webservice.whty.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://ECService.EC.webservice.whty.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ECService.EC.webservice.whty.com">
    <wsdl:documentation>ECServicesForADC</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ECService.EC.webservice.whty.com/xsd">
            <xs:complexType name="NGEC">
                <xs:sequence>
                    <xs:element minOccurs="0" name="areacode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bIPCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bIPVer" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eCCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eCUserName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eCUserPwd" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="origDomain" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="processTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="response" nillable="true" type="ax21:Response"/>
                    <xs:element minOccurs="0" name="svcCont" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transIDO" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Response">
                <xs:sequence>
                    <xs:element minOccurs="0" name="rspCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rspDesc" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://ECService.EC.webservice.whty.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ECService.EC.webservice.whty.com">
            <xs:import namespace="http://ECService.EC.webservice.whty.com/xsd"/>
            <xs:element name="ECServices">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax21:NGEC"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ECServicesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:NGEC"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="ECServicesRequest">
        <wsdl:part name="parameters" element="ns:ECServices"/>
    </wsdl:message>
    <wsdl:message name="ECServicesResponse">
        <wsdl:part name="parameters" element="ns:ECServicesResponse"/>
    </wsdl:message>
    <wsdl:portType name="ECServicesForADCPortType">
        <wsdl:operation name="ECServices">
            <wsdl:input message="ns:ECServicesRequest" wsaw:Action="urn:ECServices"/>
            <wsdl:output message="ns:ECServicesResponse" wsaw:Action="urn:ECServicesResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ECServicesForADCSoap11Binding" type="ns:ECServicesForADCPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ECServices">
            <soap:operation soapAction="urn:ECServices" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ECServicesForADCSoap12Binding" type="ns:ECServicesForADCPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ECServices">
            <soap12:operation soapAction="urn:ECServices" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ECServicesForADCHttpBinding" type="ns:ECServicesForADCPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="ECServices">
            <http:operation location="ECServices"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ECServicesForADC">
        <wsdl:port name="ECServicesForADCHttpSoap11Endpoint" binding="ns:ECServicesForADCSoap11Binding">
            <soap:address location="http://{url}/callback/ECServicesForADC.ECServicesForADCHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ECServicesForADCHttpSoap12Endpoint" binding="ns:ECServicesForADCSoap12Binding">
            <soap12:address location="http://{url}/callback/ECServicesForADC.ECServicesForADCHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ECServicesForADCHttpEndpoint" binding="ns:ECServicesForADCHttpBinding">
            <http:address location="http://{url}/callback/ECServicesForADC.ECServicesForADCHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
